.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* COMMON */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

button {
  cursor: pointer;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.footer-logo-mobile-menu .logo-part-mobile-menu {
  color: #f4f4fd;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:focus,
  .contacts-link:hover,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: #2e2f42;
  line-height: 0;
  padding: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: block;
}

.nav-list-mobile-menu {
  display: block;
  margin: 0;
  padding: 0;
}

.nav-item-mobile-menu {
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-option {
  color: #404bbf;
}

.contacts-item-mobile-menu {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.contacts-link-mobile-menu-mail {
  color: #434455;
  font-style: normal;
}

.social-list-icon-mobile-menu {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.social-list-mobile-menu {
  margin-top: 48px;
  display: flex;
  gap: 40px;
}

.social-list-link-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-grow: 1;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero section mobile version */
.hero-section-mobile-menu {
  background-color: #2e2f42;
  padding: 72px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/dark-bg.jpg");
  background-size: cover;
}

.benefits-item-icon-wrapper-mobile-menu {
  display: none;
}

.main-title-mobile-menu {
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
}

.order-button-mobile-menu {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button-mobile-menu:hover,
.order-button-mobile-menu:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-section-mobile-menu {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/herosection/people-office.jpg");
  }

  .main-title-mobile-menu {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.1;
  }

  .order-button-mobile-menu {
    margin-top: 36px;
  }

  .benefits-item-icon-wrapper-mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section-mobile-menu {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/herosection/people-office.jpg");
  }

  .order-button-mobile-menu {
    margin-top: 48px;
  }
}

/* Benefits mobile menu section */
.benefits-section-mobile-menu {
  background-color: #ffffff;
  padding: 96px 16px;
}

.benefits-list-mobile-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-title-mobile-menu {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.benefits-list-text-mobile-menu {
  max-width: 288px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .benefits-section-mobile-menu {
    padding: 96px 16px;
  }
  .benefits-list-mobile-menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .benefits-list-title-mobile-menu {
    text-align: left;
  }

  .benefits-list-item-mobile-menu {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-text-mobile-menu {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-section-mobile-menu {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list-mobile-menu {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .benefits-list-title-mobile-menu {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .benefits-list-item-mobile-menu {
    width: calc((100% - 72px) / 4);
  }
  .benefits-list-text-mobile-menu {
    max-width: 264px;
    font-weight: 400;
  }
  .benefits-item-icon-wrapper-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
}

/* Our team mobile version */
.ourteam-section-mobile-menu {
  background-color: #f4f4fd;
}

.section-title-mobile-menu {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-mobile-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.team-list-item-mobile-menu {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourteam-list-information-mobile-menu {
  padding: 32px 0;
}

.ourteam-list-fullname-mobile-menu {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ourteam-list-text-mobile-menu {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-media-list-mobile-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list-icon-mobile-menu {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.social-media-item-mobile-menu {
  position: relative;
  height: 40px;
  width: 40px;
  margin-top: 8px;
}
.social-media-link-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-grow: 1;
  margin-top: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-mobile-menu:hover,
.social-media-link-mobile-menu:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list-mobile-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .team-list-item-mobile-menu {
    width: calc((100% - 72px) / 4);
  }
  .team-list-mobile-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

/* Our portfolio mobile version */

.portfolio-section-mobile-menu {
  padding: 96px 16px;
}

.portfolio-title-mobile-menu {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list-mobile-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.portfolio-list-item-mobile-menu {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-description-mobile-menu {
  text-align: left;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text-mobile-menu {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.portfolio-list-information-mobile-menu {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-overlay-text-mobile-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .portfolio-section-mobile-menu {
    padding: 96px 16px;
  }
  .portfolio-list-item-mobile-menu {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list-mobile-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section-mobile-menu {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list-mobile-menu {
    display: flex;
    gap: 48px 24px;
  }
  .portfolio-list-item-mobile-menu {
    position: relative;
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
  }
  .portfolio-list-item-mobile-menu:hover .portfolio-overlay-text-mobile-menu {
    transform: translateY(0%);
  }

  .portfolio-list-item-mobile-menu:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-overlay-container-mobile-menu {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay-text-mobile-menu {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Footer mobile version */

.page-footer-mobile-menu {
  background-color: #2e2f42;
}

.page-footer-container-mobile-menu {
  padding: 96px 16px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  text-align: center;
}

.footer-logo-mobile-menu {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-wrap-mobile-menu {
  text-align: center;
}

.footer-logo-mobile-menu .logo-part-mobile-menu {
  color: #f4f4fd;
}

.logo-mobile-menu {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-paragraf-mobile-menu {
  max-width: 288px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}

.social-list-icon-mobile-menu {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.social-list-mobile-menu {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.page-footer-wrap-mobile-menu {
  justify-content: center;
  align-items: center;
}

.social-list-link-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-grow: 1;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-text-mobile-menu {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form-mobile-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.subscribe-form-input-mobile-menu {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form-input-mobile-menu ::placeholder {
  color: #ffffff;
}

.footer-submit-btn-mobile-menu {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-subscribe-icon-mobile-menu {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-footer-container-mobile-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 600px;
  }

  .footer-text-mobile-menu,
  .subscribe-text-mobile-menu {
    justify-content: flex-start;
  }

  .footer-logo-wrap-mobile-menu {
    text-align: left;
  }

  .subscribe-form-input-mobile-menu {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer-container-mobile-menu {
    justify-content: center;
    max-width: 1158px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-logo-wrap-mobile-menu {
    text-align: center;
    margin-right: 80px;
  }

  .page-footer-wrap-mobile-menu {
    margin-right: 80px;
  }
  .subscribe-form-input-mobile-menu {
    width: 264px;
  }

  .social-list-link-mobile-menu:hover,
  .social-list-link-mobile-menu:focus {
    background-color: #31d0aa;
  }

  .footer-text-mobile-menu,
  .subscribe-text-mobile-menu {
    justify-content: flex-start;
  }

  .footer-logo-wrap-mobile-menu {
    text-align: left;
  }
}

/* <!-- Beckdrop window mobile version --> */

.modal-backdrop-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop-mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  overflow: auto;
  border-radius: 4px;
  padding: 72px 24px 16px 16px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: #2e2f42;
  line-height: 0;
  padding: 0px;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-mobile-menu:hover,
.modal-close-btn-mobile-menu:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.close-btn-icon-mobile-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan-mobile-menu {
  max-width: 360px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 24;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contact-form-field-label-mobile-menu {
  display: block;
  color: #8e8f99;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-form-field-input-mobile-menu {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.contact-form-field-input-mobile-menu:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-field-input-mobile-menu:focus
  + .contact-form-input-icon-mobile-menu {
  fill: #4d5ae5;
}

.contact-form-field-form-mobile-menu {
  margin-bottom: 8px;
}

.contact-form-margin-mobile-menu {
  margin-bottom: 16px;
}

.contact-form-input-icon-mobile-menu {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-wrapper-mobile-menu {
  position: relative;
}

.contact-form-comment-mobile-menu {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  max-width: 360px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-coment-mobile-menu::placeholder {
  color: rgb(46, 47, 66 0, 4);
}

.contact-form-comment-mobile-menu:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-checkbox-custom-mobile-menu {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.contact-form-checkbox-mobile-menu:checked
  + .contact-form-checkbox-label-mobile-menu
  > .contact-form-checkbox-custom-mobile-menu-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.contact-form-checkbox-mobile-menu:focus
  + .contact-form-checkbox-label-mobile-menu
  > .contact-form-checkbox-custom-mobile-menu-span {
  outline: 2px solid rgb(0, 0, 255 0, 5);
}

.contact-form-checkbox-label-mobile-menu {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-checkbox-custom-mobile-menu-span {
  margin-right: 8px;
}

.contact-form-policy-link-mobile-menu {
  text-decoration: underline;
}

.accent-color {
  color: #4d5ae5;
}

.contact-form-checkbox-wrapper-mobile-menu {
  margin-bottom: 24px;
}

.contact-form-submit-btn-mobile-menu {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-mobile-menu {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .modal-backdrop-mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .modal-backdrop-mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 1158px) {
  .modal-mobile-menu {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .modal-backdrop-mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .modal-backdrop-mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
